@import "../../shared/style.scss";

.tic-tac-toe-tee {
  .board-container {
    .board {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      .cell {
        border: 1px solid pink;
        display: inline-block;

        box-sizing: border-box;
        flex-grow: 1;
        overflow: hidden; // Or flex might break
        list-style: none;
        border: solid 3px white;
        background: fade(slategrey, 20%);

        &.winner {
          @include avatar-selected-border;
        }

        .avatar {
          height: 100%;
          width: 100%;
          margin: 0;
        }
      }
    }
  }
}
