@import "../../style-mixins.scss";

.tic-tac-toe-tee {
  .board-container {
    .action-bar {
      background-color: red;
      display: flex;
      justify-items: center;

      .button {
        @include button-default-style;
      }
    }
  }
}
