body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  > :first-child {
    margin: 1em;
  }
}
