@import "../../shared/style.scss";

.tic-tac-toe-tee {
  .player-display {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 1em;
    margin: 1em;

    &.active {
      .avatar {
        @include avatar-selected-border;
      }
    }

    .avatar {
      @include avatar-image;
    }

    .name {
      font-weight: bold;
      font-size: 1.25em;
    }
  }
}
